@model MSConference.WebUI.ViewModels.TableViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    ViewBag.Title = "Edycja";
}


<h2>Edycja</h2>


@using (Html.BeginForm("EditGuest", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#EditGuest">Edycja - Gość</a></li>
            <li><a data-toggle="pill" href="#EditContact">Edycja - Kontakt</a></li>
            <li><a data-toggle="pill" href="#EditBill">Edycja - Rezerwacja</a></li>
            <li><a data-toggle="pill" href="#EditPlan">Edycja - Konferencja</a></li>
        </ul>
        <div class="tab-content">
            <div id="EditGuest" class="tab-pane fade in active">

                @{ Html.RenderPartial("_GuestForm", Model);}

            </div>
            <div id="EditContact" class="tab-pane fade">

                @{ Html.RenderPartial("_ContactForm", Model);}

            </div>
            <div id="EditBill" class="tab-pane fade">sgdg</div>
            <div id="EditPlan" class="tab-pane fade">gsdgsgsgsg</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do Listy", "Index", null, new { @class = "btn btn-success" })
</div>
